@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container_body {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.6;
            color: #666;
        }
        
    </style>
<body>
    <div class="container_body">
        <h1>Welcome to the To-Do List Website!</h1>
        <p>Sign up to begin your journey in to-do list management.</p>
        <p>With our service, you can now enter the title only, and the website will provide a description for it!</p>
    </div>
</body>